certifi==2018.11.29
chardet==3.0.4
Django==2.2.10
django-debug-toolbar==1.11
django-dynamic-formsets==0.0.8
django-filter==2.0.0
django-rest-framework==0.1.0
django-widget-tweaks==1.4.3
djangorestframework==3.9.0
get==2018.11.19
idna==2.8
Pillow==5.4.1
post==2018.11.20
public==2018.11.20
pytz==2018.9
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
sqlparse==0.2.4
urllib3==1.24.1
