{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Your teams{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/hackaton-details.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        Your teams
    </header>
    <div class="hackaton-details">
        <div class="hackaton-teams">
            <div class="hackaton-teams-featured">
                <div class="hackaton-teams-header">
                    Teams you are leader in
                </div>
                <div class="hackaton-teams-list">
                    {% for team in team_list %}
                        <div class="hackaton-team">
                            <div class="data">
                                <div class="name">{{team.name}}</div>
                                <div class="members">
                                    <div class="member leader">{{ team.teamleader }}</div>
                                    {% for member in team.members.all %}
                                        {% if member != team.teamleader %}
                                            <div class="member">{{ member }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="join-requests">
                                    <img src="{% static 'img/icons8-high-priority-48.png' %}">
                                    3 join requests!
                                </div>
                            </div>
                        </div>

                            {% comment %} {% if team.looking_for %}
                                <p> Looking for team leader </p>
                            {% endif %} {% endcomment %}
                    {% endfor %}
                </div>
                    {% comment %} <div class="hackaton-team">
                        <div>
                            <div class="data">
                                <div class="name">theBrokenLemurs</div>
                                <div class="members">
                                    <div class="member leader">Kamil Krzempek</div>
                                    <div class="member">Szymon Cader</div>
                                    <div class="member">Grzegorz Nieużyła</div>
                                </div>
                                <div class="join-requests">
                                    <img src="../img/icons8-high-priority-48.png">
                                    3 join requests!
                                </div>
                            </div>
                            <div class="needed">
                                You are looking for
                                <div class="skill-list">
                                    <div class="skill">Scrum master</div>
                                    <div class="skill">Javascript</div>
                                    <div class="skill">Wordpress developer</div>
                                </div>
                                <button>Edit team</button>
                            </div>
                        </div>
                        <div class="requests expand">
                            <div class="request">
                                <div class="user">Paweł Tomana</div>
                                <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                            </div>
                            <div class="request">
                                <div class="user">Paweł Tomana</div>
                                <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                            </div>
                            <div class="request">
                                <div class="user">Paweł Tomana</div>
                                <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                            </div>
                        </div>
                    </div> {% endcomment %}
            </div>
            <div class="hackaton-teams-other">
                <div class="hackaton-teams-header">
                    Teams you are member of
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
