@import "base";

@import "partials/menu";
@import "partials/header";
@import "partials/user-details";

@import "vendors/star-rating";


main {
    flex-grow: 1;
    background-color: $blue-dark;
    // padding: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}