{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Log in!{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        Edit personal data
    </header>
    <form class="register-form">
        <fieldset>
{#            <label for="email">Email</label>#}
{#            <input class="regular-input" type="text" id="email" name="email">#}
            <label for="email">Email</label>
            <div class="errortext">{{ form.email.errors }}</div>
            {{ form.email|attr:'class=regular-input'|attr:'id=email' }}
        </fieldset>
        <!--<fieldset>-->
<!--{#            <label for="password">Password</label>#}-->
<!--{#            <input class="regular-input" type="password" id="password" name="password">#}-->
            <!--<label for="password">Password</label>-->
                <!--<div class="errortext">{{ form.password1.errors }}</div>-->
<!--{#                <input class="regular-input" type="password" id="password" name="password">#}-->
                <!--{{ form.password1|attr:'class=regular-input'|attr:'id=passsword' }}-->
        <!--</fieldset>-->
        <!--<fieldset>-->
<!--{#            <label for="repeat-password">Repeat password</label>#}-->
<!--{#            <input class="regular-input" type="password" id="repeat-password" name="repeat-password">#}-->
            <!--<label for="repeat-password">Repeat password</label>-->
                <!--<div class="errortext">{{ form.password2.errors }}</div>-->
<!--{#                <input class="regular-input" type="password" id="repeat-password" name="repeat-password">#}-->
                <!--{{ form.password2|attr:'class=regular-input'|attr:'id=repeat-password' }}-->
        <!--</fieldset>-->
        <fieldset>
            <label for="name">First name</label>
            <input class="regular-input" type="text" id="name" name="name">
                <div class="errortext">{{ form.name.errors }}</div>
{#                <input class="regular-input" type="text" id="surname" name="surname">#}
                    {{ form.name|attr:'class=regular-input'|attr:'id=surname' }}
        </fieldset>
        <fieldset>
{#            <label for="surname">Last name</label>#}
{#            <input class="regular-input" type="text" id="surname" name="surname">#}
                <label for="surname">Last name</label>
                <div class="errortext">{{ form.surname.errors }}</div>
{#                <input class="regular-input" type="text" id="surname" name="surname">#}
                    {{ form.surname|attr:'class=regular-input'|attr:'id=surname' }}
        </fieldset>
        <fieldset>
            <label for="short-description">Short description</label>
            <input class="regular-input" type="text" id="short-description" name="short-description">
        </fieldset>
        <fieldset>
            <label for="city">City</label>
            <input class="regular-input" list="cities" type="text" id="city" name="city">
            <datalist id="cities"></datalist>

        </fieldset>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}

{% block scripts %}
    <script src="../js/location-select.js"></script>
{% endblock scripts %}