{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Join us!{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        Join us!
    </header>
{#    {{ form.errors }}#}
    <form method="POST" class="register-form multiform" action="{% url 'people:user-register' %}">
        {% csrf_token %}
        <div class="step">
            <!-- <div class="step-number"><span>1</span></div> -->
{#            {{ form.as_p }}#}
            <fieldset>
                <label for="login">Login</label>
                <div class="errortext">{{ form.username.errors }}</div>
{#                <input class="regular-input" type="text" id="login" name="login">#}
                {{ form.username|attr:'class=regular-input'|attr:'id=login' }}
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <div class="errortext">{{ form.email.errors }}</div>
{#                <input class="regular-input" type="text" id="email" name="email">#}
                {{ form.email|attr:'class=regular-input'|attr:'id=email' }}
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <div class="errortext">{{ form.password1.errors }}</div>
{#                <input class="regular-input" type="password" id="password" name="password">#}
                {{ form.password1|attr:'class=regular-input'|attr:'id=passsword' }}
            </fieldset>
            <fieldset>
                <label for="repeat-password">Repeat password</label>
                <div class="errortext">{{ form.password2.errors }}</div>
{#                <input class="regular-input" type="password" id="repeat-password" name="repeat-password">#}
                {{ form.password2|attr:'class=regular-input'|attr:'id=repeat-password' }}
            </fieldset>
            <div class="buttons">
                <button class="next-step">Next &gt;</button>
            </div>
        </div>
        <div class="step">
            <fieldset>
                <label for="name">First name</label>
                <div class="errortext">{{ form.name.errors }}</div>
{#                <input class="regular-input" type="text" id="name" name="name">#}
                {{ form.name|attr:'class=regular-input'|attr:'id=name'}}
            </fieldset>
            <fieldset>
                <label for="surname">Last name</label>
                <div class="errortext">{{ form.surname.errors }}</div>
{#                <input class="regular-input" type="text" id="surname" name="surname">#}
                    {{ form.surname|attr:'class=regular-input'|attr:'id=surname' }}
            </fieldset>
            <fieldset>
                <label for="location">Where are you from?</label>
{#                <input class="regular-input" list="cities" type="text" id="city" name="city">#}
                <div class="errortext">{{ form.city.errors }}</div>
                {{ form.city|attr:'class=regular-input'|attr:'id=location'|attr:'list=cities' }}
                <datalist id="cities"></datalist>
            </fieldset>
            <div class="buttons">
                <button class="prev-step">&lt; Back</button>
                <button class="next-step">Next &gt;</button>
            </div>
        </div>
        <div class="step">
            <fieldset>
                <label for="programming-skills">Programming skills</label>
                <div class="errortext">{{ form.skill.errors }}</div>
                <input type='text' class='search-input' autocomplete='off' placeholder='Start typing...'>
                <select id="skills" class="multiselect" multiple="multiple">
                </select>
                <select name="skills" id="skills_to" class="multiselect" multiple="multiple"></select>
            </fieldset>
            <div class="buttons">
                <button class="prev-step">&lt;Back</button>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/multiselect.min.js' %}"></script>
    <script src="{% static 'js/location-select.js' %}"></script>
    <script src="{% static 'js/skill-select.js' %}"></script>
    <script src="{% static 'js/register-form.js' %}"></script>
{% endblock scripts %}