{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Join us!{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        Join us!
    </header>
    <form class="register-form multiform">
        <div class="step">
            <!-- <div class="step-number"><span>1</span></div> -->
{#            {{ form.as_p }}#}
            <fieldset>
                <label for="login">Login</label>
                <div class="errortext">{{ form.username.errors }}</div>
{#                <input class="regular-input" type="text" id="login" name="login">#}
                {{ form.username|attr:'class=regular-input'|attr:'id=login' }}
            </fieldset>
            <fieldset>
                <div class="errortext">{{ form.email.errors }}</div>
                <label for="email">Email</label>
{#                <input class="regular-input" type="text" id="email" name="email">#}
                {{ form.email|attr:'class=regular-input'|attr:'id=email' }}
            </fieldset>
            <fieldset>
                <div class="errortext">{{ form.password.errors }}</div>
                <label for="password">Password</label>
                <input class="regular-input" type="password" id="password" name="password">
                {{ form.password|attr:'class=regular-input'|attr:'id=passsword' }}
            </fieldset>
            <fieldset>
                <div class="errortext">{{ form.password2.errors }}</div>
                <label for="repeat-password">Repeat password</label>
{#                <input class="regular-input" type="password" id="repeat-password" name="repeat-password">#}
                {{ form.password2|attr:'class=regular-input'|attr:'id=repeat-password' }}
            </fieldset>
            <div class="buttons">
                <button class="next-step">Next &gt;</button>
            </div>
        </div>
        <div class="step">
            <fieldset>
                <div class="errortext">{{ form.name.errors }}</div>
                <label for="name">First name</label>
{#                <input class="regular-input" type="text" id="name" name="name">#}
                {{ form.name|attr:'class=regular-input'|attr:'id=name'}}
            </fieldset>
            <fieldset>
                <div class="errortext">{{ form.surname.errors }}</div>
                <label for="surname">Last name</label>
{#                <input class="regular-input" type="text" id="surname" name="surname">#}
                    {{ form.surname|attr:'class=regular-input'|attr:'id=surname' }}
            </fieldset>
            <fieldset>
                <div class="errortext">{{ form.city.errors }}</div>
                <label for="city">City</label>
{#                <input class="regular-input" list="cities" type="text" id="city" name="city">#}
                {{ form.password2|attr:'class=regular-input'|attr:'id=city' }}
                <datalist id="cities">
                    <option value="Kraków"></option>
                    <option value="Warszawa"></option>
                    <option value="Katowice"></option>
                </datalist>
            </fieldset>
            <div class="buttons">
                <button class="prev-step">&lt; Back</button>
                <button class="next-step">Next &gt;</button>
            </div>
        </div>
        <div class="step">
            <fieldset>
                <div class="errortext">{{ form.skill.errors }}</div>
                <label for="programming-skills">Programming skills</label>
                <select id="skills" multiple="multiple"></select>
            </fieldset>
            <div class="buttons">
                <button class="prev-step">&lt;Back</button>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'js/register-form.js' %}"></script>
{% endblock scripts %}