{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Join us!{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        Join us!
    </header>
    <form method="POST" class="register-form multiform" action="{% url 'people:user-register' %}">
        <div class="step">
            <!-- <div class="step-number"><span>1</span></div> -->
            {{ form.as_p }}
            <fieldset>
                <label for="login">Login</label>
                <div class="errortext">{{ form.email.errors }}</div>
                {#<input class="regular-input" type="text" id="login" name="login">#}
                {{ form.username|attr:'class=regular-input'|attr:'id=login' }}
            </fieldset>
            <fieldset>
                <div class="errortext">     </div>
                <label for="email">Email</label>
                <input class="regular-input" type="text" id="email" name="email">
                {{ form.email|attr:'class=regular-input'|attr:'id=email' }}
            </fieldset>
            <fieldset>
                <div class="errortext">     </div>
                <label for="password">Password</label>
                <input class="regular-input" type="password" id="password" name="password">
            </fieldset>
            <fieldset>
                <div class="errortext">     </div>
                <label for="repeat-password">Repeat password</label>
                <input class="regular-input" type="password" id="repeat-password" name="repeat-password">
            </fieldset>
            <div class="buttons">
                <button class="next-step">Next &gt;</button>
            </div>
        </div>
        <div class="step">
            <fieldset>
                <label for="name">First name</label>
                <input class="regular-input" type="text" id="name" name="name">
            </fieldset>
            <fieldset>
                <label for="surname">Last name</label>
                <input class="regular-input" type="text" id="surname" name="surname">
            </fieldset>
            <fieldset>
                <label for="location">Where are you from?</label>
                <input class="regular-input" list="cities" type="text" id="location" name="location">
                <datalist id="cities"></datalist>
            </fieldset>
            <div class="buttons">
                <button class="prev-step">&lt; Back</button>
                <button class="next-step">Next &gt;</button>
            </div>
        </div>
        <div class="step">
            <fieldset>
                <label for="programming-skills">Programming skills</label>
                <input type='text' class='search-input' autocomplete='off' placeholder='Start typing...'>
                <select name="from[]" id="skills" class="multiselect" multiple="multiple">
                    <option value="1">szymek to kiepski backendowiec</option>
                    <option value="2">blalba</option>
                    <option value="3">blablablablablabla</option>
                </select>
                <select name="to[]" id="skills_to" class="multiselect" multiple="multiple"></select>
            </fieldset>
            <div class="buttons">
                <button class="prev-step">&lt; Back</button>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/multiselect.min.js' %}"></script>
    <script src="{% static 'js/register-form.js' %}"></script>
{% endblock scripts %}