@import url("https://fonts.googleapis.com/css?family=Coda:400,800|Raleway:300,400,700&subset=latin-ext");
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  display: block;
}

label {
  display: block;
}

html, body, .container {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 22.5em;
  height: 100%;
  padding: 1em;
  background-color: #222222;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
  z-index: 10;
}

@media (max-width: 1100px) {
  .menu-wrapper {
    width: 100vw;
    margin-left: calc(-100% + 2em + 50px);
  }
}

@media (max-width: 1100px) and (max-width: 480px) {
  .menu-wrapper {
    margin-left: calc(-100% + 2em + 40px);
  }
}

.menu-open .menu-wrapper {
  margin-left: 0;
}

.menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.menu-header {
  font-family: "Coda", cursive;
  font-size: 3rem;
  text-align: center;
  padding: 0.5em 0;
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-hamburger {
  cursor: pointer;
}

@media (min-width: 1100px) {
  .menu-hamburger {
    display: none;
  }
}

.menu-hamburger [class^="bar"] {
  margin: 8px 0;
  height: 5px;
  width: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #FFFFFF;
}

@media (max-width: 480px) {
  .menu-hamburger [class^="bar"] {
    margin: 6px 0;
    height: 4px;
    width: 40px;
  }
}

.menu-open .menu-hamburger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-12px, 5px);
          transform: rotate(-45deg) translate(-12px, 5px);
}

.menu-open .menu-hamburger .bar2 {
  opacity: 0;
}

.menu-open .menu-hamburger .bar3 {
  -webkit-transform: rotate(45deg) translate(-12px, -6px);
          transform: rotate(45deg) translate(-12px, -6px);
}

.menu-option {
  margin: 1em 0 0 2em;
}

.menu-events .menu-event {
  margin: 1em 0 0 2.5em;
}

.menu-events .menu-event:not(:first-child) {
  margin-top: 2em;
}

.menu-events .menu-event .event-date {
  font-size: 1.2rem;
  font-weight: 300;
  color: #D1D1D1;
}

.menu-events .menu-event .event-name {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.3em;
}

.menu-events .menu-event .event-name img {
  margin-left: 0.5em;
  max-width: 3em;
  max-height: 2.5em;
}

.menu-events .menu-event .event-team {
  color: #D1D1D1;
  font-weight: 300;
  margin-top: 0.5em;
  font-size: 1.2rem;
}

.menu-events .menu-event .team-member {
  margin: 0.5em 0 0 1em;
  font-weight: 400;
  font-size: 1.3rem;
}

.header-main {
  font-family: "Coda", cursive;
  font-size: 3rem;
  padding: 0.8em 1em;
  color: #D1D1D1;
  background-color: #1c2d39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-subtext {
  padding-top: 0.5em;
  font-size: 1.5rem;
  color: #ababab;
}

.header-image img {
  width: 3em;
}

.hackatons {
  margin: 2em;
}

.hackaton {
  background-color: #1c2d39;
  -webkit-box-shadow: 0px 0px 10px 0px #41658A;
          box-shadow: 0px 0px 10px 0px #41658A;
  max-width: 50vw;
  margin-bottom: 2em;
  padding: 2em;
  color: #D1D1D1;
}

@media (max-width: 1100px) {
  .hackaton {
    max-width: 90vw;
  }
}

.hackaton .hackaton-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hackaton .hackaton-name {
  font-size: 2rem;
  font-family: "Coda", cursive;
}

.hackaton .hackaton-place {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: #ababab;
  margin-top: 0.5em;
}

.hackaton .hackaton-logo img {
  width: 10em;
}

.hackaton .hackaton-description {
  font-size: 1.1rem;
  margin-top: 1em;
  line-height: 1.2;
}

.hackaton .hackaton-teams {
  margin-top: 1em;
  font-size: 1.3rem;
}

.hackaton .hackaton-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hackaton .hackaton-links a:not(:first-child) {
  margin-left: 2em;
}

.hackaton .hackaton-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-top: 1em;
  font-size: 1.5em;
}

.hackaton .hackaton-link span {
  margin-left: 0.5em;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #243B4A;
  overflow-x: hidden;
}
/*# sourceMappingURL=feed.css.map */