.header-main {
    font-family: $font-primary;
    font-size: 3rem;
    padding: 0.8em 1em;
    color: $gray;
    background-color: darken($blue-dark, 5%);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-text {

}

.header-subtext {
    padding-top: 0.5em;
    font-size: 1.5rem;
    color: darken($gray, 15%);
}

.header-image {
    img {
        width: 3em;
    }
}

// .header-links {
//     height: 100%;
//     font-weight: 300;
//     font-size: 1.5rem;
//     display: flex;
//     align-items: center;
//     color: $white;
// }

// .header-link {
//     padding: 1em 2em;
// }