.menu-wrapper {
    flex-shrink: 0;
    width: 22.5em;
    height: 100%;
    padding: 1em;
    background-color: $black-light;
    transition: margin-left 0.5s ease-in-out;
    z-index: 10;

    @media(max-width: $breakpoint-menu) {
        width: 100vw;
        margin-left: calc(-100% + 2em + 50px);

        @media(max-width: $breakpoint-small) {
            margin-left: calc(-100% + 2em + 40px);
        }
    }

    .menu-open & {
        margin-left: 0;
    }
}

.menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    color: $white;
}

.menu-header {
    font-family: $font-primary;
    font-size: 3rem;
    text-align: center;
    padding: 0.5em 0;
    color: $white;
    @media(max-width: $breakpoint-menu) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.menu-hamburger {
    @media(min-width: $breakpoint-menu) {
        display: none;
    }

    cursor: pointer;
    
    [class^="bar"] {
        margin: 8px 0;
        height: 5px;
        width: 50px;
        transition: all 0.5s ease-in-out;
        
        @media(max-width: $breakpoint-small) {
            margin: 6px 0;
            height: 4px;
            width: 40px;
        }

        background-color: $white;
    }

    .menu-open & {
        .bar1 {
            transform: rotate(-45deg) translate(-12px, 5px);
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            transform: rotate(45deg) translate(-12px, -6px);;
        }
    }
}

// .menu-options {

    
//     // padding-bottom: 1.5em;
//     // border-bottom: 0.1em solid $gray;
// }

.menu-option {
    margin: 1em 0 0 2em;
}

.menu-events {
    .menu-event {
        margin: 1em 0 0 2.5em;
        &:not(:first-child) {
            margin-top: 2em;
        }

        .event-date {
            font-size: 1.2rem;
            font-weight: 300;
            color: $gray;
        }

        .event-name {
            font-weight: 700;
            display: flex;
            align-items: center;
            margin-top: 0.3em;

            img {
                margin-left: 0.5em;
                max-width: 3em;
                max-height: 2.5em;
            }
        }

        .event-team {
            color: $gray;
            font-weight: 300;
            margin-top: 0.5em;
            font-size: 1.2rem;
        }

        .team-member {
            margin: 0.5em 0 0 1em;
            font-weight: 400;
            font-size: 1.3rem;
        }
    }
}