{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Log in!{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        Upcoming hackatons
    </header>
    <div class="hackatons">
        <article class="hackaton">
            <div class="hackaton-base">
                <div>
                    <div class="hackaton-name">BITEhack</div>
                    <div class="hackaton-place">Kraków, klub Studio, ul. Wiktora Budryka 8</div>
                </div>
                <div class="hackaton-logo"><img src="../img/bitehack.png"></div>
            </div>
            <div class="hackaton-description">BITEhack to projekt organizowany przez Stowarzyszenie Studentów BEST AGH Kraków. Skierowany jest do pasjonatów szeroko pojętej automatyki, robotyki, programowania, jak również nowych technologii.</div>
            <div class="hackaton-teams">
                20 teamów skompletowanych, 8 teamów szuka członków
            </div>
            <div class="hackaton-links">
                <a href="https://bitehack.best.krakow.pl" target="_blank"><div class="hackaton-link"><img src="../img/icons8-internet-50.png"><span>Hackaton website</span></div></a>
                <a href="https://www.facebook.com/events/602093706911984/" target="_blank"><div class="hackaton-link"><img src="../img/icons8-facebook-50.png"><span>Facebok page</span></div></a>
            </div>
        </article>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}