<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <aside class="menu-wrapper">
            <div class="menu-container">
                <div class="menu-header">
                    <div></div>
                    <div class="menu-logo">
                        HackWorld
                    </div> 
                    <div class="menu-hamburger">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
                <div class="menu-option"><a href="#">Log in</a></div>
                <div class="menu-option"><a href="#">Register</a></div>
                <div class="menu-option">Your hackatons</div>
                <div class="menu-events">
                    <div class="menu-event">
                        <div class="event-date">12.01.2019 (in 5 days)</div>
                        <div class="event-name">BITEhack <img src="../img/bitehack.png"></div>
                        <div class="event-team">
                            Your team
                            <div class="team-member">Kamil Krzempek</div>
                            <div class="team-member">Szymon Cader</div>
                            <div class="team-member">Grzegorz Nieużyła</div>
                        </div>
                    </div>
                    <div class="menu-event">
                        <div class="event-date">06.04.2019 (in 63 days)</div>
                        <div class="event-name">Hacknarok <img src="../img/hacknarok.gif"></div>
                        <div class="event-team">
                            Your team
                            <div class="team-member">Paweł Tomana</div>
                            <div class="team-member">Dawid Weiss</div>
                            <div class="team-member">Adrian Debeściak</div>
                            <div class="team-member">Maciek Sikora</div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <header class="header-main">
                Add team
            </header>
            <form class="register-form">
                <fieldset>
                    <label for="teamname">Team name</label>
                    <input class="regular-input" type="text" id="teamname" name="teamname">
                </fieldset>
                <fieldset>
                    <label for="programming-skills">Programming skills wanted</label>
                    <input type='text' class='search-input' autocomplete='off' placeholder='Start typing...'>
                    <select id="skills" class="multiselect" multiple="multiple">
                    </select>
                    <select name="skills" id="skills_to" class="multiselect" multiple="multiple"></select>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../js/multiselect.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/skill-select.js"></script>
</body>
</html>