<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <aside class="menu-wrapper">
            <div class="menu-container">
                <div class="menu-header">
                    <div></div>
                    <div class="menu-logo">
                        HackWorld
                    </div> 
                    <div class="menu-hamburger">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
                <div class="menu-option"><a href="#">Log in</a></div>
                <div class="menu-option"><a href="#">Register</a></div>
                <div class="menu-option">Your hackatons</div>
                <div class="menu-events">
                    <div class="menu-event">
                        <div class="event-date">12.01.2019 (in 5 days)</div>
                        <div class="event-name">BITEhack <img src="../img/bitehack.png"></div>
                        <div class="event-team">
                            Your team
                            <div class="team-member">Kamil Krzempek</div>
                            <div class="team-member">Szymon Cader</div>
                            <div class="team-member">Grzegorz Nieużyła</div>
                        </div>
                    </div>
                    <div class="menu-event">
                        <div class="event-date">06.04.2019 (in 63 days)</div>
                        <div class="event-name">Hacknarok <img src="../img/hacknarok.gif"></div>
                        <div class="event-team">
                            Your team
                            <div class="team-member">Paweł Tomana</div>
                            <div class="team-member">Dawid Weiss</div>
                            <div class="team-member">Adrian Debeściak</div>
                            <div class="team-member">Maciek Sikora</div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <header class="header-main">
                Edit personal data
            </header>
            <form class="register-form">
                <fieldset>
                    <label for="email">Email</label>
                    <input class="regular-input" type="text" id="email" name="email">
                </fieldset>
                <fieldset>
                    <label for="password">Password</label>
                    <input class="regular-input" type="password" id="password" name="password">
                </fieldset>
                <fieldset>
                    <label for="repeat-password">Repeat password</label>
                    <input class="regular-input" type="password" id="repeat-password" name="repeat-password">
                </fieldset>
                <fieldset>
                    <label for="name">First name</label>
                    <input class="regular-input" type="text" id="name" name="name">
                </fieldset>
                <fieldset>
                    <label for="surname">Last name</label>
                    <input class="regular-input" type="text" id="surname" name="surname">
                </fieldset>
                <fieldset>
                    <label for="short-description">Short description</label>
                    <input class="regular-input" type="text" id="short-description" name="short-description">
                </fieldset>
                <fieldset>
                    <label for="city">City</label>
                    <input class="regular-input" list="cities" type="text" id="city" name="city">
                    <datalist id="cities"></datalist>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/location-select.js"></script>
</body>
</html>