<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/hackaton-details.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <aside class="menu-wrapper">
            <div class="menu-container">
                <div class="menu-header">
                    <div></div>
                    <div class="menu-logo">
                        HackWorld
                    </div> 
                    <div class="menu-hamburger">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
                <div class="menu-option"><a href="#">Log in</a></div>
                <div class="menu-option"><a href="#">Register</a></div>
                <div class="menu-option">Your hackatons</div>
                <div class="menu-events">
                    <div class="menu-event">
                        <div class="event-date">12.01.2019 (in 5 days)</div>
                        <div class="event-name">BITEhack <img src="../img/bitehack.png"></div>
                        <div class="event-team">
                            Your team
                            <div class="team-member">Kamil Krzempek</div>
                            <div class="team-member">Szymon Cader</div>
                            <div class="team-member">Grzegorz Nieużyła</div>
                        </div>
                    </div>
                    <div class="menu-event">
                        <div class="event-date">06.04.2019 (in 63 days)</div>
                        <div class="event-name">Hacknarok <img src="../img/hacknarok.gif"></div>
                        <div class="event-team">
                            Your team
                            <div class="team-member">Paweł Tomana</div>
                            <div class="team-member">Dawid Weiss</div>
                            <div class="team-member">Adrian Debeściak</div>
                            <div class="team-member">Maciek Sikora</div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <header class="header-main">
                Your hackatons
            </header>
            <div class="hackaton-details">
                <div class="hackaton-teams">
                    <div class="hackaton-teams-featured">
                        <div class="hackaton-teams-header">
                            Teams you are leader in
                        </div>
                        <div class="hackaton-teams-list">
                            <div class="hackaton-team">
                                <div>
                                    <div class="data">
                                        <div class="name">theBrokenLemurs</div>
                                        <div class="members">
                                            <div class="member leader">Kamil Krzempek</div>
                                            <div class="member">Szymon Cader</div>
                                            <div class="member">Grzegorz Nieużyła</div>
                                        </div>
                                        <div class="join-requests">
                                            <img src="../img/icons8-high-priority-48.png">
                                            3 join requests!
                                        </div>
                                    </div>
                                    <div class="needed">
                                        You are looking for
                                        <div class="skill-list">
                                            <div class="skill">Scrum master</div>
                                            <div class="skill">Javascript</div>
                                            <div class="skill">Wordpress developer</div>
                                        </div>
                                        <button>Edit team</button>
                                    </div>
                                </div>
                                <div class="requests expand">
                                    <div class="request">
                                        <div class="user">Paweł Tomana</div>
                                        <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                        <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                                    </div>
                                    <div class="request">
                                        <div class="user">Paweł Tomana</div>
                                        <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                        <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                                    </div>
                                    <div class="request">
                                        <div class="user">Paweł Tomana</div>
                                        <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                        <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                                    </div>
                                    <div class="request">
                                        <div class="user">Paweł Tomana</div>
                                        <div class="accept"><img src="../img/icons8-ok-48.png"></div>
                                        <div class="decline"><img src="../img/icons8-cancel-48.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hackaton-teams-other">
                        <div class="hackaton-teams-header">
                            Teams you are member of
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../js/menu.js"></script>
</body>
</html>