{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Team list in hackathon{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/hackaton-details.css' %}">
{% endblock %}

{% block content %}
    <header class="header-main">
        <div>
            <div class="header-text">{{ hackathon.name }}</div>
            <div class="header-subtext">{{ hackathon.place }}</div>
        </div>
        <div class="header-image"><img src="{% static 'img/bitehack.png' %}"></div>
    </header>
    <div class="hackaton-details">
        <div class="hackaton-teams">
            <!-- when user dont have team for this hackaton -->
            {% if not my_team %}
            <a href="{% url 'hackathon:create' %}">
                <div class="add-team">
                    <img src="{% static 'img/icons8-plus-filled-50.png' %}">
                    Create team
                </div>
            </a>
                {% else %}
                 <a href="#">
                <div class="your-team">{{ my_team.first.name }}
                    <img src="{% static 'img/icons8-edit-filled-50.png' %}">

                </div>
            </a>
            {% endif %}

            <!-- when user has team - clicking takes to editing page -->

            <div class="hackaton-teams-featured">
                <div class="hackaton-teams-header">
                    Teams searching for people
                </div>
                <div class="hackaton-teams-list">

                    {% for team in queryset %}

                        <div class="hackaton-team">
                        <div class="data">
                            <div class="name">{{ team.name }}</div>
                            <div class="members">
                                <a href="{{ team.teamleader.get_absolute_url }} "><div class="member leader">{{ team.teamleader.name }} {{ team.teamleader.surname }}</div></a>
                                {% for member in team.members.all %}
                                    {% if member != team.teamleader %}
                                        <a href="{{ member.get_absolute_url }}"><div class="member">{{ member.name }} {{ member.surname }}</div></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="needed">
                            Team looks for
                            <div class="skill-list">
                                {% for skill in team.needed_skill.all %}
                                <div class="skill {% if skill.id not in my_skills%}not-{% endif %}owned">{{ skill.name }}</div>
                                {% endfor %}

{#                                <div class="skill owned">Scrum master</div>#}
{#                                <div class="skill not-owned">Javascript</div>#}
{#                                <div class="skill owned">Wordpress developer</div>#}
                            </div>
                            <button>Send join request</button>
                        </div>
                    </div>
            {% endfor %}

                </div>
            </div>
{#            <div class="hackaton-teams-other">#}
{#                <div class="hackaton-teams-header">#}
{#                    Other teams#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}