{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Log in!{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block content %}
<header class="header-main">
    Upcoming hackatons
</header>
<div class="hackatons">
    {% for hackathon in hackathons %}
    <article class="hackaton">
        {% if hackathon.place_url %}
        <a href="{{ hackathon.place_url }}">
        {% endif %}
            <div class="hackaton-base">
                <div>
                    <div class="hackaton-name">{{ hackathon.name }}</div>
                    <div class="hackaton-place">{{ hackathon.place }}</div>
                </div>
                {% if hackathon.image %}
                <div class="hackaton-logo"><img src="{{ hackathon.image.url }}"></div>
                {% endif %}
            </div>
        {% if hackathon.place_url %}
        </a>
        {% endif %}
        <div class="hackaton-description">{{ hackathon.description }}
        </div>
        <div class="hackaton-teams">
            {{ hackathon.complete_c }} full team(s), {{hackathon.incomplete_c}} team(s) looking for members
        </div>
        <div class="hackaton-links">
            {% if hackathon.official_website %}
            <a href="{{ hackathon.official_website }}" target="_blank">
                <div class="hackaton-link"><img
                        src="{% static 'img/icons8-internet-50.png' %}"><span>Hackaton website</span></div>
            </a>
            {% endif %}

            {% if hackathon.facebook_page %}
            <a href="{{ hackathon.facebook_page }}" target="_blank">
                <div class="hackaton-link"><img
                        src="{% static 'img/icons8-facebook-50.png' %}"><span>Facebok page</span></div>
            </a>
            {% endif %}

        </div>
    </article>
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}